<!-- Begin MailChimp Signup Form -->
    <div class="widget widget-heading-simple widget-body-white">
      <div class="well center">
        <div class="row-fluid"> 
          <div class="span12">
            <div id="mc_embed_signup">
              <form action="http://balancedo.us4.list-manage.com/subscribe/post?u=d854fb46af9372dd3b59e7b60&amp;id=e0afc9d11c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

              <h2>Get weekly content to help you build your small business</h2>
              <h3>Subscribe below to have the lessons we've learned building our own small business sent to you.</h3>
              <div class="row-fluid form-inline">
                <input type="email" value="" name="EMAIL" id="mce-EMAIL" class="span4" placeholder="Your Email address" size="30" required>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_d854fb46af9372dd3b59e7b60_e0afc9d11c" value=""></div>

                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary span3 right-input">
                <h3 class="muted">We guarantee 100% privacy. Your information will not be shared.<h3>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--End mc_embed_signup-->